
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/


.venv/
venv/
env/
scraping/            
.share/               
.python-version
poetry.lock
Pipfile.lock


.vscode/
.idea/
*.swp
*.swo
*.sublime-*
.DS_Store


**/.docker/
docker-build/
*.tar      
docker-compose.override.yml
.env      

airflow/logs/
logs/                    
airflow/config/airflow.cfg 
airflow/dags/__pycache__/


data/bronze/_checkpoints/
**/_spark_metadata/
**/_spark_metadata/
**/.spark_staging/
spark-warehouse/


kafka/
zookeeper/


data/raw/
data/state/
data/postgres/           
artifacts/               
share/                   
tmp/
.cache/

*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
*.plan


Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
config/airflow.cfg
